/node_modules
/public/audio
/public/documents
/public/feed
/public/images/bible
/public/seeders
/public/video
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/framework/
/storage/framework/
/storage/framework/
/storage/logs/*
/storage/app/images/slider/*
/public/storage