/vendor
/node_modules
/.env
/.env.*
!.env.example
/app/.env

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
storage/framework/.
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
/storage/logs/*
/storage/debugbar/*

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/public/hot
/public/storage

/npm-debug.log
/yarn-error.log
/yarn-debug.log
/pnpm-debug.log


deploy.sh
/public/audio/*
/public/build/
/public/documents/*
/public/feed/*
/public/images/slider/*
/public/images/bible/*
/public/images/logo/ImagenRadio.jpg
/public/images/logo/*.jpg
/public/images/news/*
/public/images/schedule/*
/public/images/worship/*
*.sql
.DS_Store
**/.DS_Store

# macOS
.DS_Store
**/.DS_Store
