/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Estilos globales */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-display: swap;
}

/* Enlaces */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* Estilos flexibles */
.flex-container {
    display: flex;
    height: 25px;
}

.flex-item-left,
.flex-item-right {
    padding-top: 5px;
    flex: 50%;
}

/* Estilos de navegación */
.bodynav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 218, 101);
    background: linear-gradient(90deg, rgba(255, 218, 101, 1) 0%, rgba(14, 104, 38, 0.8939950980392157) 57%, rgba(14, 104, 38, 0.76234243697479) 80%);
    padding: 10px;
}

/* Enlaces de navegación */
nav a {
    font-size: 1.6rem;
    /* Ajusta el tamaño de la fuente */
    color: #FFFFFF;
    /* Color blanco para buen contraste */
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    /* Transiciones suaves */
}

nav a:hover {
    background-color: #0038b8;
    /* Fondo azul al pasar el mouse */
    color: #FFD700;
    /* Color dorado al pasar el mouse */
}

nav.menu-visible a {
    display: block;
}

.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
}

/* Efecto hover */
.btn-social-icon:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño al pasar el ratón */
    transition: transform 0.3s ease-in-out;
}

/* Colores personalizados para el hover */
.btn-social-icon.btn-instagram:hover {
    background-color: #e1306c;
}

.btn-social-icon.btn-facebook:hover {
    background-color: #3b5998;
}

.btn-social-icon.btn-youtube:hover {
    background-color: #ff0000;
}

/* Estilos del ticker */
.ticker {
    padding: 7px 0;
    text-align: left;
    border: 2px solid #00A4BD;
    box-shadow: 6px 4px #00A4BD;
}

/* Estilos del navticker */
.navticker {
    margin-top: 20px;
    text-align: center;
    height: 200px;
}

/* Contenedor de imagen y texto */
.imgcontainer {
    position: relative;
}


/* Estilos de la clase seed */
.seed {
    font-size: 1.25rem;
    color: #333;
    line-height: 1.5;
}

.lig {
    font-size: 0.875rem;
    color: #777;
}

/* Estilos del centro del texto */
.center {
    text-align: center;
}

/* Estilos del texto de copyright */
.copyright {
    font-size: 14px;
}

/* Estilos para centrar imágenes */
.imgcenter {
    display: block;
    margin: 0 auto;
    width: 50%;
}

/* Estilos para listas no ordenadas dentro de elementos de lista */
ul>li {
    list-style: none;
    font-weight: 600;
}

/* Estilos del texto con peso de fuente 800 y margen superior */
.fontw {
    margin-top: 30px;
    font-weight: 800;
}

/* Estilos del texto con color especificado */
.fontst {
    color: rgb(0, 56, 184);
}

/* Estilos del pie de página */
.foot {
    background: radial-gradient(circle, rgba(14, 104, 38, 0) 0%, rgba(0, 56, 184, 0) 35%, rgba(239, 252, 116, 1) 100%);
}


/* Estilos del CTA (Call to Action) */
.cta {
    --shadowColor: 184 60% 40%;
    display: flex;
    flex-wrap: wrap;
    background: rgb(255, 218, 101);
    width: 100%;
    box-shadow: 0.45rem 0.45rem 0 hsl(var(--shadowColor) / 1);
    border-radius: 0.5rem;
    overflow: hidden;
    border-color: rgb(239, 252, 116);
}

.cta img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    flex: 1 1 350px;
}

.cta__text-column {
    padding: min(2rem, 5vw);
    flex: 1 0 50%;
}

.cta a {
    display: inline-block;
    text-decoration: none;
    border-radius: 0.6rem;
    font-weight: 700;
    color: rgb(0, 56, 184);
    border: 0.2rem solid;
}

/* Estilos del texto justificado */
.abstract {
    text-align: justify;
}

/* Estilos del versículo del día con video */
.video-circle video {
    width: 200px;
    /* Tamaño del video */
    height: 200px;
    /* Aseguramos proporción cuadrada */
    border-radius: 50%;
    /* Hace el video circular */
    object-fit: cover;
    /* Ajusta el contenido dentro del círculo */
    border: 2px solid #ffffff;
    /* Borde blanco */
    box-shadow: 0px 2px px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    margin-left: auto;
}

.quote {
    border-radius: 8px;
    max-width: 100%;
    height: auto;

}

/* REPRODUCTOR STREAMING */
.reproductor {
    background-color: #646262;
    /* Fondo más oscuro para el reproductor */
    border-radius: 12px;
    padding: 20px 30px;
    /* Más padding horizontal */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    /* Centrado vertical */
}

.controles {
    display: flex;
    align-items: center;
}

#toggleButton {
    background: none;
    border: none;
    color: #eee;
    /* Color de los iconos */
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
    /* Transición suave para el hover */
}

#toggleButton:hover {
    transform: scale(1.4);
    /* Ligero aumento al pasar el mouse */
    color: #fff;
}

#toggleButton:focus {
    outline: none;
    /* Elimina el borde de enfoque predeterminado */
}

/* Estilos para que el reproductor sea responsive */
@media (max-width: 400px) {
    .reproductor {
        padding: 15px 20px;
    }

    #toggleButton {
        font-size: 20px;
    }
}

.en-vivo-text {
    color: red;
    font-weight: bold; /* Opcional: para que se vea más destacado */
    font-size: 16px;
}

/* Estilos compartidos para .containernews y .card */
.containernews, .card {
    position: relative;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.containernews {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}

.card {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-bottom: 60px;
}

.card > div, .card-image {
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.card-image {
    width: 360px;
    height: 250px;
}

.card-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.card-text {
    margin: -30px auto;
    margin-bottom: -50px;
    height: 350px;
    width: 350px;
    background-color: #1D1C20;
    color: #fff;
    padding: 10px;
}

.card-badge {
    font-style: italic;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 5px;
}

.card-body {
    font-size: 0.85rem;
    overflow: hidden;
    max-height: 100px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    -webkit-box-orient: vertical;
}

.card-link {
    width: 50px;
    height: 40px;
    background-color: #fafcf9;
    color: #fff;
    margin-left: auto;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para .wrapper */
.wrapper {
    position: relative;
    margin: 20px auto;
    height: 250px;
    box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, .3);
    z-index: 2;
}

/* Estilos compartidos para .headernews y .content */
.headernews, .content {
    position: relative;
    z-index: 2;
}

.headernews {
    width: max-content;
    font-size: 1.875rem;
    white-space: nowrap;
    top: 5%;
    left: 7%;
}

.content {
    font-size: 1rem;
    overflow: hidden;
    width: 55%;
    margin-left: 10px;
    max-height: 150px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* Estilos de la imagen */
.image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 8% 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos del contenedor de "Leer más" */
.read-more-container {
    position: absolute;
    bottom: 10px;
    right: 40%;
    background-color: rgb(239, 252, 116);
    width: 80px;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

/* Estilos del enlace "Leer más" */
.read-more {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: none;
}

/* Media Query para pantallas menores a 700px */
@media only screen and (max-width: 700px) {
    .copyright {
        font-size: 12px;
    }

    .imgh5 {
        font-size: 1.2rem;
    }

    .wrapper {
        height: auto;
        margin-top: 20px;
    }

    .read-more-container {
        position: absolute;
        bottom: 10px;
        right: 20px;
        background-color: rgb(239, 252, 116);
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
    }

    .headernews,
    .content {
        width: 90%;
        left: 5%;
    }

    .image {
        width: 50%;
        z-index: 2;
    }

    .ticker,
    .imgcontainer,
    .navigate .seed,
    .cta {
        margin-top: 20px;
    }
    .menu-icon {
        display: block;
    }

    .menu-visible a {
        display: block;
    }

    .ticker {
        height: 80px;
    }

    .seed {
        height: auto;
    }

    .center {
        margin: 0 auto;
    }
}