/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Estilos globales */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-display: swap;
}

/* Enlaces */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* Estilos flexibles */
.flex-container {
    display: flex;
    height: 25px;
}

.flex-item-left,
.flex-item-right {
    padding-top: 5px;
    flex: 50%;
}

/* Estilos de navegación */
.bodynav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle, rgba(14, 104, 38, 0) 0%, rgba(0, 56, 184, 0) 25%, rgba(239, 252, 116, 1) 100%);
    padding: 10px;
}

/* Enlaces de navegación */
nav a {
    font-size: 1.6rem;
    /* Ajusta el tamaño de la fuente */
    color: #FFFFFF;
    /* Color blanco para buen contraste */
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    /* Transiciones suaves */
}

nav a:hover {
    background-color: #007BFF;
    /* Fondo azul al pasar el mouse */
    color: #FFD700;
    /* Color dorado al pasar el mouse */
}

nav.menu-visible a {
    display: block;
}

.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
}

/* Efecto hover */
.btn-social-icon:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño al pasar el ratón */
    transition: transform 0.3s ease-in-out;
}

/* Colores personalizados para el hover */
.btn-social-icon.btn-instagram:hover {
    background-color: #e1306c;
}

.btn-social-icon.btn-facebook:hover {
    background-color: #3b5998;
}

.btn-social-icon.btn-youtube:hover {
    background-color: #ff0000;
}

/* Estilos del ticker */
.ticker {
    padding: 7px 0;
    text-align: left;
    border: 2px solid #00A4BD;
    box-shadow: 6px 4px #00A4BD;
}

/* Estilos del navticker */
.navticker {
    margin-top: 20px;
    text-align: center;
    height: 200px;
}

/* Contenedor de imagen y texto */
.imgcontainer {
    position: relative;
}


/* Estilos de la clase seed */
.seed {
    font-size: 1.25rem;
    color: #333;
    line-height: 1.5;
}

.lig {
    font-size: 0.875rem;
    color: #777;
}

/* Estilos del centro del texto */
.center {
    text-align: center;
}

/* Estilos del texto de copyright */
.copyright {
    font-size: 14px;
}

/* Estilos para centrar imágenes */
.imgcenter {
    display: block;
    margin: 0 auto;
    width: 50%;
}

/* Estilos para listas no ordenadas dentro de elementos de lista */
ul>li {
    list-style: none;
    font-weight: 600;
}

/* Estilos del texto con peso de fuente 800 y margen superior */
.fontw {
    margin-top: 30px;
    font-weight: 800;
}

/* Estilos del texto con color especificado */
.fontst {
    color: rgb(0, 56, 184);
}

/* Estilos del pie de página */
.foot {
    background: radial-gradient(circle, rgba(14, 104, 38, 0) 0%, rgba(0, 56, 184, 0) 35%, rgba(239, 252, 116, 1) 100%);
}


/* Estilos del CTA (Call to Action) */
.cta {
    --shadowColor: 184 60% 40%;
    display: flex;
    flex-wrap: wrap;
    background: rgb(255, 218, 101);
    width: 100%;
    box-shadow: 0.45rem 0.45rem 0 hsl(var(--shadowColor) / 1);
    border-radius: 0.5rem;
    overflow: hidden;
    border-color: rgb(239, 252, 116);
}

.cta img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    flex: 1 1 350px;
}

.cta__text-column {
    padding: min(2rem, 5vw);
    flex: 1 0 50%;
}

.cta a {
    display: inline-block;
    text-decoration: none;
    border-radius: 0.6rem;
    font-weight: 700;
    color: rgb(0, 56, 184);
    border: 0.2rem solid;
}

/* Estilos del texto justificado */
.abstract {
    text-align: justify;
}

/* Estilos del versículo del día con video */
.video-circle video {
    width: 200px;
    /* Tamaño del video */
    height: 200px;
    /* Aseguramos proporción cuadrada */
    border-radius: 50%;
    /* Hace el video circular */
    object-fit: cover;
    /* Ajusta el contenido dentro del círculo */
    border: 2px solid #ffffff;
    /* Borde blanco */
    box-shadow: 0px 2px px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    margin-left: auto;
}

.quote {
    border-radius: 8px;
    max-width: 100%;
    height: auto;

}