@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-dark: #2a3d1f;
    --green-light: #8aa446;
    --white: #fff;
}

/* Estilos globales */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-display: swap;
    margin: 0;
    color: #333;
}

/* Enlaces */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* Estilos flexibles */
.flex-container {
    display: flex;
    height: 25px;
}

.flex-item-left,
.flex-item-right {
    padding-top: 5px;
    flex: 50%;
}

/* Estilos del texto de copyright */
.copyright {
    font-size: 14px;
}

/* Estilos para listas no ordenadas dentro de elementos de lista */
ul>li {
    list-style: none;
    font-weight: 600;
}

.custom-footer {
    font-size: 0.85rem;
    /* Manteniendo tu tamaño de fuente base */
    background-color: var(--green-dark);
    /* Usando tu variable de color */
    color: var(--white);
    /* Usando tu variable de color */
    padding-top: 2rem;
    /* Ajustando el padding superior */
    padding-bottom: 2rem;
    /* Añadiendo padding inferior para equilibrio */
}

.custom-footer h5 {
    font-size: 1rem;
    /* Manteniendo tu tamaño de fuente para el título */
    font-weight: 700;
    /* Manteniendo tu peso de fuente para el título */
    color: #ffc107;
    /* Usando el color amarillo de Bootstrap para destacar */
    margin-bottom: 1rem;
    /* Espacio inferior para el título */
    text-transform: uppercase;
    /* Haciendo los títulos en mayúsculas como en tu original */
}

.custom-footer ul {
    list-style: none;
    /* Asegurando que no haya viñetas */
    padding-left: 0;
    /* Eliminando el padding izquierdo predeterminado de las listas */
    margin-bottom: 1.5rem;
    /* Espacio inferior para cada lista */
}

.custom-footer li {
    margin-bottom: 0.5rem;
    /* Espacio entre los elementos de la lista */
}

.custom-footer a,
.custom-footer p {
    font-size: 0.8rem;
    /* Manteniendo tu tamaño de fuente para enlaces y párrafos */
    font-weight: 400;
    /* Manteniendo tu peso de fuente */
    line-height: 1.4;
    /* Manteniendo tu interlineado */
    color: var(--white);
    /* Asegurando que el color del texto sea blanco */
    text-decoration: none;
    /* Asegurando que no haya subrayado en los enlaces */
}

.custom-footer a:hover {
    color: #f8f9fa;
    /* Un ligero cambio de color al pasar el ratón */
}

.custom-footer .btn-outline-light {
    font-size: 0.75rem;
    /* Manteniendo tu tamaño de fuente para los botones */
    padding: 0.3rem 0.6rem;
    /* Manteniendo tu padding para los botones */
    border-color: var(--white);
    /* Asegurando que el borde sea blanco */
    color: var(--white);
    /* Asegurando que el texto del botón sea blanco */
    margin-bottom: 0.5rem;
    /* Espacio entre los botones */
}

.custom-footer .btn-outline-light:hover {
    background-color: var(--white);
    color: var(--green-dark);
    border-color: var(--white);
    /* Mantenemos el borde blanco al pasar el ratón */
}

.custom-footer hr {
    border-top: 1px solid #6c757d;
    /* Un color grisáceo claro para la línea divisoria */
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.custom-footer .copyright {
    font-size: 0.8rem;
    /* Ajustando el tamaño del texto de copyright */
    color: #adb5bd;
    /* Un color gris más claro para el copyright */
    margin-top: 1rem;
    /* Espacio superior para el copyright */
    margin-bottom: 0;
    /* Eliminando el margen inferior predeterminado */
}

.custom-footer .logo-da {
    width: 20px;
    /* Manteniendo el ancho del logo DA */
    height: auto;
    /* Ajustando la altura automáticamente */
    vertical-align: middle;
    /* Alineando verticalmente con el texto */
    margin-left: 0.5rem;
    /* Espacio a la izquierda del logo */
}

/* Header */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--white);
    border-bottom: 2px solid #eee;
}

.logo img {
    width: 120px;
}

/* Estilos para el menú */
/* Estilos del navbar */
.navbar {
    padding: 1rem 0;
    /* Ajusta el espaciado vertical */
}

.navbar-brand img {
    max-height: 120px;
    /* Asegura que el logo no sea demasiado grande */
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    /* Tamaño de fuente base para los enlaces */
    margin: 0 15px;
    /* Espacio entre los enlaces */
    color: #333;
    /* Color del texto */
    transition: color 0.3s ease;
    /* Transición suave al pasar el ratón */
}

.navbar-nav .nav-link:hover {
    color: #007bff;
    /* Cambia el color al pasar el ratón */
}

.dropdown-menu {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    font-size: 1.1rem;
    color: #333;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

/* Hero Section */
.hero-image {
    width: 100%;
    padding-top: 0.5rem;
    text-align: center;
    background-color: #fff;
}

.hero-image img {
    max-width: 95%;
    height: auto;
    display: inline-block;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: var(--green-dark);
    color: white;
}

.hero-left,
.hero-right {
    flex: 1;
    padding: 1rem;
}

.hero-left img {
    width: 100%;
    max-width: 300px;
}

/* Links Section */
.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem;
    background-color: var(--white);
    text-align: center;
}

/* Card */
.card {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: transform 0.3s ease;
    text-align: center;
    overflow: hidden;
}

.icon-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    background-color: #2a3d1f;
}

/* Footer */
footer {
    background: var(--green-dark);
    color: white;
    text-align: center;
    padding-top: 1rem;
}

footer a {
    color: white;
    margin: 0 5px;
    font-size: 1.2rem;
}

/* Daily Word Section */
.daily-word-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--white);
    gap: 2rem;
}

.left-block {
    text-align: center;
}

.title {
    color: var(--green-dark);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1.2;
}


.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--green-dark);
}

/* Download Button */
.download-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: var(--green-dark);
    color: var(--white);
    text-decoration: none;
    padding: 0.8rem 2.5rem 0.8rem 1.2rem;
    border-radius: 40px;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.download-button:hover {
    transform: translateY(-2px);
}

.circle-badge {
    position: absolute;
    right: -15px;
    background-color: var(--white);
    color: var(--green-dark);
    border: 2px solid var(--green-dark);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.right-block img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    border: 3px solid;
    border-color: #2a3d1f;
    border-radius: 5px;
}

.carousel-item img {
    max-height: 480px;
    object-fit: cover;
    width: 96%;
}

.carousel-item .col-md-6 {
    padding: 0 10px;
    /* reduce espacio horizontal */
}

/* Responsive Design */
@media (max-width: 768px) {


    .pdf-text {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    .hero-image {
        padding-top: 0.1rem;
        background-color: #fff;
    }

    .hero-image img {
        max-width: 100%;
        height: auto;
        display: inline-block;
    }

    .left-block,
    .right-block {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .right-block img {
        max-width: 100%;
        height: auto;
        max-height: 300px;
    }

    .carousel-item .row {
        flex-direction: column;
    }

    .carousel-item .col-md-6 {
        max-width: 100%;
        padding: 10px 0;
    }

    .carousel-item img {
        max-height: 300px;
    }
}